@import '../styles/helper.scss';
@import '../styles/icomoon.scss';

html, body, #root {
    display: flex;
    flex-direction: column;
    margin: em(0);
    font-family: $font-main;
    width: 100%;

    &:before{
    overflow: hidden;
    }
}

html.can-touch a:hover{
    background: none; /* disable hover effect on touch devices */
}
